<form [formGroup]="form">
  <div class="container">
    <div class="py-2">
      <h5>Contas a Pagar</h5>
      <button class="btn btn-rounded btn-primary text-uppercase" type="button" data-toggle="collapse"
        data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <i class="fa fa-filter"></i>
      </button>
      <button class="btn btn-rounded btn-primary text-uppercase ml-2" (click)="onLancManual(modalLancManual)">
        <i class="fa fa-plus"></i>
      </button>
      <button class="btn btn-rounded btn-primary text-uppercase ml-2" type="button" (click)="goRelatorio()">
      <i class="fa fa-print"></i>
    </button>
      <div class="collapse show" id="collapseExample">
        <div class="card card-body">
          <div class="row">
            <div class="col-md-3">
              <select class="form-control" formControlName="fornecedor">
                <option value="">Fornecedor</option>
                <option [ngValue]="fornecedor" *ngFor="let fornecedor of lstFornecedor">
                  {{fornecedor.nome}}</option>
              </select>
            </div>
            <div class="col-md-3">
              <select class="form-control" formControlName="categoriaContasAPagar">
                <option value="">Categoria</option>
                <option [ngValue]="categoriaContasAPagar" *ngFor="let categoriaContasAPagar of lstCategorias">
                  {{categoriaContasAPagar.nome}}</option>
              </select>
            </div>
            <div class="col-md-3">
              <select class="form-control" formControlName="centroCusto">
                <option value="">Centro de Custo</option>
                <option [ngValue]="centroCusto" *ngFor="let centroCusto of lstCentroCusto">
                  {{centroCusto.descricao}}</option>
              </select>
            </div>
          </div>
          <div class="row py-1">
            <div class="col-md-3">
              <select class="form-control" formControlName="planoContas">
                <option value="">Conta contábil</option>
                <option [ngValue]="planoContas" *ngFor="let planoContas of lstPlanoContas">
                  {{planoContas.descricao}}</option>
              </select>
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-rounded btn-primary text-uppercase" name="btnSearch"
                (click)="onSubmit()"><i class="fa fa-search"></i>
              </button>
              <button type="button" class="btn btn-rounded btn-primary text-uppercase ml-2" name="btnSearch"
                (click)="onResetSearch()"><i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>
                    Data de vencimento
                  </th>
                  <th>
                    Fornecedor
                  </th>
                  <th>
                    Situação
                  </th>
                  <th>
                    Valor
                  </th>
                  <th>
                    Ações
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let item of lst | slice: (page-1) * pageSize : page * pageSize'>
                  <td>{{ item.dataVencimento | date: 'dd/MM/yyyy' }}</td>
                  <td>{{ item.fornecedor.nome }}</td>
                  <td>{{ item.situacaoConta.nome }}</td>
                  <td>{{ item.valorOriginal | currency:'R$'}}</td>
                  <td>
                    <div class="d-flex actions">
                      <a class="ml-2" tabindex="-1" role="button" aria-disabled="true" title="Detalhes"
                        (click)="onDetails(modalDetalhes, item)">
                        <i class="fa fa-search text-primary"></i>
                      </a>
                      <a class="ml-2" tabindex="-1" role="button" aria-disabled="true" title="Editar"
                        (click)="edit(item)">
                        <i class="fa fa-edit text-primary"></i>
                      </a>
                      <a class="ml-2" tabindex="-1" role="button" aria-disabled="true" title="Excluir"
                        (click)="deleteById(modalDelete, item)">
                        <i class="fa fa-trash text-danger"></i>
                      </a>
                      <a class="ml-2" tabindex="-1" role="button" aria-disabled="true" title="Efetuar baixa"
                        (click)="onBaixa(modalBaixa, item)">
                        <i class="fa fa-check text-success"></i>
                      </a>
                    </div>
                  </td>

                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>
                  </th>
                  <th>
                  </th>
                  <th>
                  </th>
                  <th>
                    Total: {{ getTotalGeral() | currency:'R$' }}
                  </th>
                </tr>
              </tfoot>
            </table>
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="lst.length"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<ng-template #modalDelete>
  <div class="inmodal" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
      <h3 class="modal-title">Excluir</h3>
      <button type="button" class="close" (click)="closeDelete()">
        <i class="fa fa-times"></i>
      </button>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          Confirma a exclusão?
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-rounded btn-success text-uppercase" (click)="confirmDelete()">
        <i class="fa fa-check"></i> Confirmar
      </button>

      <button type="button" class="btn btn-rounded btn-default text-uppercase" (click)="closeDelete()">
        <i class="fa fa-times"></i> Cancelar
      </button>
    </div>

  </div>
</ng-template>

<ng-template #modalLancManual>
  <div class="inmodal" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
      <h3 class="modal-title">Lançamento Manual</h3>
      <button type="button" class="close" (click)="closeModalLancManual()">
        <i class="fa fa-times"></i>
      </button>
    </div>

    <div class="modal-body">
      <form [formGroup]="formLancManual">
        <div class="row">
          <div class="col">
            <label>Fornecedor:</label>
            <select class="form-control" formControlName="fornecedor">
              <option [ngValue]="fornecedor" *ngFor="let fornecedor of lstFornecedor">
                {{fornecedor.nome}}</option>
            </select>
            <div *ngIf="submittedLancManual && fl.fornecedor.errors">
              <p *ngIf="fl.fornecedor.errors.required" class="text-danger small">* Seleção de Fornecedor é
                obrigatória</p>
            </div>
          </div>

          <div class="col">
            <label>Conta Corrente:</label>
            <select class="form-control" formControlName="contaCorrente">
              <option [ngValue]="contacorrente" *ngFor="let contacorrente of lstContaCorrente">
                {{contacorrente.banco}} {{contacorrente.bancoNumero}} {{contacorrente.agencia}} {{contacorrente.conta}}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>Categoria:</label>
            <select class="form-control" formControlName="categoriaContasAPagar" (change)="onSelectCategoria()">
              <option [ngValue]="categoriaContasAPagar" *ngFor="let categoriaContasAPagar of lstCategorias">
                {{categoriaContasAPagar.nome}}</option>
            </select>
          </div>
          <div class="col">
            <label>Conta contábil:</label>
            <select class="form-control" formControlName="planoContas">
              <option [ngValue]="planoContas" *ngFor="let planoContas of lstPlanoContas">
                {{planoContas.descricao}}</option>
            </select>
          </div>

        </div>
        <div class="row">
          <div class="col">
            <label>Quantidade:</label>
            <select class="form-control" formControlName="quantidade">
              <option [ngValue]="quantidade" *ngFor="let quantidade of lstQuantidade">
                {{quantidade}}</option>
            </select>
            <div *ngIf="submittedLancManual && fl.quantidade.errors">
              <p *ngIf="fl.quantidade.errors.required" class="text-danger small">* Seleção de Quantidade é
                obrigatória</p>
            </div>
          </div>
          <div class="col">
            <label>Valor:</label>
            <input currencyMask max="999999999999999999"
              [options]="{ prefix: '', thousands: '.', decimal: ',', precision: 2, allowNegative: false }"
              maxlength="18" type="text" formControlName="valorOriginal" placeholder="Informe o valor..."
              class="form-control">
            <div *ngIf="submittedLancManual && fl.valorOriginal.errors">
              <p *ngIf="fl.valorOriginal.errors.required" class="text-danger small">* Informe o valor da conta a pagar
              </p>
            </div>
          </div>
          <div class="col">
            <label>Data de Vencimento:</label>
            <div class="input-group">
              <input class="form-control" placeholder="dd/mm/yyyy" name="dp" formControlName="dataVencimento"
                ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-primary" (click)="d.toggle()" type="button">
                  <i class="fa fa-calendar-alt"></i>
                </button>
              </div>
            </div>
            <div *ngIf="submittedLancManual && fl.dataVencimento.errors">
              <p *ngIf="fl.dataVencimento.errors.required" class="text-danger small">* Selecione a data de vencimento
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>Referente a:</label>
            <input type="text" formControlName="referente" placeholder="Informe a referência das contas..."
              class="form-control">
            <div *ngIf="submittedLancManual && fl.referente.errors">
              <p *ngIf="fl.referente.errors.required" class="text-danger small">* Informe a referência da conta a pagar
              </p>
            </div>
          </div>
          <div class="col">
            <label>Centro de custo:</label>
            <select class="form-control" formControlName="centroCusto">
              <option [ngValue]="centroCusto" *ngFor="let centroCusto of lstCentroCusto">
                {{centroCusto.descricao}}</option>
            </select>
          </div>

        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-rounded btn-primary text-uppercase" (click)="onConfirmLancManual()">
        <i class="fa fa-check"></i> Confirmar
      </button>

      <button type="button" class="btn btn-rounded btn-default text-uppercase" (click)="closeModalLancManual()">
        <i class="fa fa-times"></i> Cancelar
      </button>
    </div>

  </div>
</ng-template>

<ng-template #modalDetalhes>
  <div class="inmodal" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
      <h3 class="modal-title">Detalhes de Contas a Pagar</h3>
      <button type="button" class="close" (click)="closeDetalhes()">
        <i class="fa fa-times"></i>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col">
          <h6>Situação:</h6>
          <label>{{ contasaPagar.situacaoConta.nome }}</label>
        </div>
        <div class="col">
          <h6>Fornecedor:</h6>
          <label>{{ contasaPagar.fornecedor.nome }}</label>
        </div>
        <div class="col">
          <h6>Data de Vencimento:</h6>
          <div class="input-group">
            <label>{{ contasaPagar.dataVencimento | date: 'dd/MM/yyyy' }}</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h6>Valor:</h6>
          <label>{{ contasaPagar.valorOriginal | currency:'R$' }}</label>
        </div>
        <div class="col">
          <h6>Lançado por:</h6>
          <label>{{ contasaPagar.criadoPor }}</label>
        </div>
        <div class="col">
          <h6>Conta Corrente:</h6>
          <label *ngIf='contasaPagar.contaCorrente'>
            {{ contasaPagar.contaCorrente.banco }} /
            {{ contasaPagar.contaCorrente.bancoNumero }} /
            {{ contasaPagar.contaCorrente.agencia }} /
            {{ contasaPagar.contaCorrente.conta }}
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h6>Categoria:</h6>
          <label *ngIf='contasaPagar.categoriaContasAPagar'>{{ contasaPagar.categoriaContasAPagar.nome }}</label>
        </div>
        <div class="col">
          <h6>Conta contábil:</h6>
          <label *ngIf='contasaPagar.planoContas'>{{ contasaPagar.planoContas.classificacao }} - {{
            contasaPagar.planoContas.descricao }}</label>
        </div>
        <div class="col">
          <h6>Centro de custo:</h6>
          <label *ngIf='contasaPagar.centroCusto'>{{ contasaPagar.centroCusto.codigo }} - {{
            contasaPagar.centroCusto.descricao }}</label>

        </div>
      </div>
      <div class="row">
        <div class="col">
          <h6>Referente a:</h6>
          <label>{{ contasaPagar.referente }}</label>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-rounded btn-default text-uppercase" (click)="closeDetalhes()">
        <i class="fa fa-times"></i> Fechar
      </button>
    </div>

  </div>
</ng-template>

<ng-template #modalBaixa>
  <div class="inmodal" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
      <h3 class="modal-title">Baixa</h3>
      <button type="button" class="close" (click)="closeModalBaixa()">
        <i class="fa fa-times"></i>
      </button>
    </div>

    <div class="modal-body">
      <form [formGroup]="formBaixa">
        <div class="row">
          <div class="col">
            <label>Fornecedor:</label>
            <select class="form-control" formControlName="fornecedor">
              <option [ngValue]="fornecedor" *ngFor="let fornecedor of lstFornecedor">
                {{fornecedor.nome}}</option>
            </select>
          </div>

          <div class="col">
            <label>Conta Corrente:</label>
            <select class="form-control" formControlName="contaCorrente">
              <option [ngValue]="contacorrente" *ngFor="let contacorrente of lstContaCorrente">
                {{contacorrente.banco}} {{contacorrente.bancoNumero}} {{contacorrente.agencia}} {{contacorrente.conta}}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>Conta contábil:</label>
            <select class="form-control" formControlName="planoContas">
              <option [ngValue]="planoContas" *ngFor="let planoContas of lstPlanoContas">
                {{planoContas.descricao}}</option>
            </select>
          </div>
          <div class="col">
            <label>Centro de custo:</label>
            <select class="form-control" formControlName="centroCusto">
              <option [ngValue]="centroCusto" *ngFor="let centroCusto of lstCentroCusto">
                {{centroCusto.descricao}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>Valor pago:</label>
            <input currencyMask max="999999999999999999"
              [options]="{ prefix: '', thousands: '.', decimal: ',', precision: 2, allowNegative: false }"
              maxlength="18" type="text" formControlName="valorPago" placeholder="Informe o valor..."
              class="form-control">
            <div *ngIf="submittedBaixa && bx.valorPago.errors">
              <p *ngIf="bx.valorPago.errors.required" class="text-danger small">* Informe o valor pago
              </p>
            </div>
          </div>
          <div class="col">
            <label>Data de Pagamento:</label>
            <div class="input-group">
              <input class="form-control" placeholder="dd/mm/yyyy" name="dp" formControlName="dataPagamento"
                ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-primary" (click)="d.toggle()" type="button">
                  <i class="fa fa-calendar-alt"></i>
                </button>
              </div>
            </div>
            <div *ngIf="submittedBaixa && bx.dataPagamento.errors">
              <p *ngIf="bx.dataPagamento.errors.required" class="text-danger small">* Selecione a data de pagamento
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h5>Referente a:</h5>
            <label>{{ contasaPagar.referente }}</label>
          </div>
          <div class="col">
            <label>Valor Original:</label>
            <input currencyMask max="999999999999999999"
              [options]="{ prefix: '', thousands: '.', decimal: ',', precision: 2, allowNegative: false }"
              maxlength="18" type="text" formControlName="valorOriginal" 
              class="form-control">
          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-rounded btn-primary text-uppercase" (click)="onConfirmBaixa()">
        <i class="fa fa-check"></i> Confirmar
      </button>

      <button type="button" class="btn btn-rounded btn-default text-uppercase" (click)="closeModalBaixa()">
        <i class="fa fa-times"></i> Cancelar
      </button>
    </div>

  </div>
</ng-template>